# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.venv
.Python
*.python-version

# data
data/

# Environment variables
.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Local deployment script
local-deploy.sh
